/* reset css  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* short-code  */
.container{
  width: 80%;
  margin: auto;
}
p{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #3E3E3E;
  line-height: 28px;
  margin: 15px 0;
}
a.button{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #FF5959;
}
.main-content{
  display: flex;
  align-items: center;
}
section{
  margin: 70px 0;
}


/* hero section  */
.hero-section .row{
  display: flex;
  justify-content: space-between;
}
.hero-section .row img{
  width: 100%;
}

.hero-section h1{
  font-size: 55px;
  font-weight: 400;
  font-family: 'Yeseva One', cursive;
}
.focused-title{
  color: #FFAD5A;
}
.focused{
  border-left: 5px solid;
  border-image: linear-gradient(180deg, rgb(30, 30, 32), rgb(231, 144, 13));
  border-image-slice: 1;
  padding: 0 5px;
}

/* mission */
.mission img{
  width: 100px;
}
.mission h1{
  text-align: center;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.mission .row{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.common{
  padding: 15px 10px;
  border-radius: 10px;
  margin: 10px;
}
.my-mission{
  background-color: #4F9DA61A;
}
.vissions{
  background-color: #FF59591A;
}
.goals{
  background-color: #FFF4D6;
}

/* Discussion */
.common-style .row{
  display: flex;
}
.common-style img{
  width: 350px;
}
.content--right{
  padding-left: 80px;
}

/* community */

#community  .content--right{
  padding-right: 80px;
  padding-left: 0;
}

/* footer  */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
}
footer h2{
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lobster', cursive;
  color: #ffffff;
}
footer p{
  color: #ffffff;
  font-size: 12px;
}
.footer-content{
  padding: 30px 0;
}
.footer-title{
  color: #FF5959;;
}