/* reset css  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1400px;
  height: 100vh;
  padding: 0 90px;
  margin: auto;
}
p{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: #3E3E3E;
  line-height: 28px;
  margin: 15px 0;
}
a.button{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
  background-color: #FF5959;
}
/* about-me section  */
.about-me{
  display: flex;
  justify-content: space-between;
}
.half-width{
  width: 40%;
}
.about-me img{
  width: 100%;
  border-radius: 50%;
}
.about-me h1{
  font-size: 55px;
  font-weight: 400;
  font-family: 'Yeseva One', cursive;
}
.focused-title{
  color: #FFAD5A;
}
.focused{
  border-left: 5px solid;
  border-image: linear-gradient(180deg, rgb(30, 30, 32), rgb(231, 144, 13));
  border-image-slice: 1;
  padding: 0 5px;
}

/* My mission section  */

#mission{
  margin: 100px 0;
}
#mission h1{
  text-align: center;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.my-mission{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
#mission img{
  width: 100px;
}
.common{
  padding: 15px 10px;
  border-radius: 10px;
  margin: 10px;
}
.missions{
  background-color: #4F9DA61A;
}
.vissions{
  background-color: #FF59591A;
}
.goals{
  background-color: #FFF4D6;
}

/* discussion  */
.common-style{
  display: flex;
}
.common-style img{
  width: 350px;
}
.content--right{
  padding-left: 80px;
}
.main-content{
  display: flex;
  align-items: center;
}

/* community */
#community{
  margin: 80px 0;
}

#community > .content--right{
  padding-right: 80px;
  padding-left: 0;
}

/* footer  */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
}
footer h2{
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lobster', cursive;
  color: #ffffff;
}
footer p{
  color: #ffffff;
  font-size: 12px;
}
.portfolio-content{
  padding: 30px 0;
}
.portfolio-title{
  color: #FF5959;;
}